<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <title>RMT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}" defer></script>
</head>
<body>
<main class="container">
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
    <h1 class="p-4 text-center">RMT Client</h1>
    <form class="row" id="form" hx-encoding='multipart/form-data' hx-swap="outerHTML" hx-target="#evaluate"
          hx-post='/upload'>
        <div class="col-sm-4 form-group">
            <label class="p2" for="upload">Upload zip file to evaluate</label>
            <input class="form-control" id="upload" type='file' name='file' accept=".zip" required>
        </div>
        <button class="col-sm-1 h-50 align-self-end btn btn-primary" hx-disabled-elt="this">Upload</button>
    </form>
    <div class="row">
        <div id="spinner"
             class="col-1 align-self-end spinner-border d-flex justify-content-center text-light htmx-indicator"
             role="status"></div>
        <button id="evaluate" class="m-3 h-75 align-self-end btn btn-secondary" disabled>Evaluate</button>
    </div>
    <form id="table" class="row">
        <table class="table table-bordered m-3">
            <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col" style="width:40%">Files</th>
                <th scope="col">Pattern</th>
                <th scope="col">Maintainability</th>
                <th scope="col">Reusability</th>
                <th scope="col">Reliability</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button class="m-3 h-50 align-self-end btn btn-secondary" disabled>Refactor</button>
    </form>
    <script>
        document.addEventListener('htmx:responseError', event => {
            const toastEl = document.getElementById('toast');
            toastEl.querySelector('.toast-body').textContent = "Please try again later!";
            const toast = new bootstrap.Toast(toastEl, {delay: 3000});
            toast.show();
        });
    </script>
</main>
</body>
</html>